@font-face {
	font-family: "Neon Zone";
	src: url("Neon\ Zone.otf") format("opentype");
}

:root {
	--main-dark: #1E2B39;
	--main-bright: #576574;
	--main-light: #949A92;
	--neutral: #E9D7A9;
	--accent: #D73E2E;
	--white: #EAE5DE;
}

html {
	font-family: 'Cairo', sans-serif;
	background-color: var(--white);
}

body {
	padding: 0;
	margin: 0;
	font-size: 14pt;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
}

a:link, a:visited, a:hover {
	color: var(--accent);
}

header {
	font-family: 'Dosis', sans-serif;
	background-color: var(--main-dark);
	font-size: 48pt;
	font-weight: 600;
	text-align: center;
	padding-top: 36pt;
	padding-bottom: 36pt;
	text-shadow: 0px 4px 0px var(--main-bright);
}

footer {
	font-size: 12pt;
	color: var(--main-bright);
	margin-top: 48px;
}

footer > div {
	padding-top: 12px;
	padding-bottom: 24px;
	width: 800px;
	margin: 0 auto;
	border-top: 1px solid var(--main-light);
}

header a:link, header a:visited, header a:hover {
	color: var(--white);
	text-decoration: none;
}

nav {
	font-family: 'Dosis', sans-serif;
	padding: 8px;
	background-color: var(--main-bright);
	text-align: center;
	font-size: 18pt;
	display: flex;
	justify-content: center;
}

nav a:link, nav a:visited, nav a:hover {
	display: inline-block;
	margin-right: 24px;
	margin-left: 24px;
	color: var(--white);
	text-decoration: none;
	font-weight: 400;
}

main {
	width: 800px;
	margin: 0 auto;
}

p {
	text-align: justify;
	line-height: 1.6;
}

li > p {
	margin: 0;
}

.image-mosaic {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 240px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #353535;
	font-size: 3rem;
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 600px) {
	.card-tall {
		grid-row: span 2 / auto;
	}

	.card-xtall {
		grid-row: span 3 / auto;
	}

	.card-wide {
		grid-column: span 2 / auto;
	}

	.card-xwide {
		grid-column: span 3 / auto;
	}
}

.fullwidth-photo {
	display: block;
	background: #353535;
	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	max-width: 800px;
	max-height: 800px;
	border-radius: 4px;
	margin-top: 48px;
	margin-left: auto;
	margin-right: auto;
}

.fullwidth-photo.nocaption {
	margin-bottom: 48px;
}

.fullwidth-photo-caption {
	font-style: italic;
	font-size: 12pt;
	color: var(--main-light);
	margin-bottom: 48px;
}

a.other-page-link {
	display: flex;
	height: 240px;
	text-decoration: none;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: black;
	margin-bottom: 32px;
}

a.other-page-link > img {
	vertical-align: middle;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

a.other-page-link > div {
	display: flex;
	flex-direction: column;
	margin: 16px;
}

a.other-page-link div.link-title {
	display: block;
	font-family: 'Dosis', sans-serif;
	font-size: 18pt;
	font-weight: 600;
	color: var(--main-dark);
}

a.other-page-link div.link-description {
	font-size: 12pt;
	color: var(--main-bright);
}